<ion-content>
    <ion-card>
        <img src="https://via.placeholder.com/400x200" alt="">
        <ion-card-header>
            <ion-card-title>
            Shiver Me Timbers
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    
    <ion-card>
        <img src="https://via.placeholder.com/400x200" alt="">
        <ion-card-header>
            <ion-card-title>
            Piggie Hunt
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    
    <ion-card>
        <img src="https://via.placeholder.com/400x200" alt="">
        <ion-card-header>
            <ion-card-title>
            Competition Target
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>