<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onAccount()">{{ dataMngr.user?.first_name + ' ' + dataMngr.user?.last_name }}</ion-button>
    </ion-buttons>

    <ion-title>
      Axe House
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="dataMngr.user" (click)="onStation($event)">{{ dataMngr.station ? dataMngr.station : 'Join Station' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
